@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #3c484e;
  font-family: 'Open Sans', sans-serif;
}

.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.Header a {
  text-decoration: none;
  color: #01b301;
}

.about {
  margin-bottom: 30px;
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 976px);
  display: grid;
  justify-content: center;
  background: radial-gradient(rgb(88, 59, 5),rgb(90, 90, 0), rgb(46, 43, 43));
}

.Characters {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}


.Characters-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  grid-row-gap: 1.5em;
  display: grid;
}

.Characters-card {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: fade;
  background: radial-gradient(rgb(16, 248, 16), rgb(255, 255, 7), rgb(7, 202, 7));

}

.Characters-card img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;

}

.Characters-card h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.Characters-card h3 {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin: 20px;
}

.Characters-item {
  text-decoration: none;
  box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
  border-radius: 5px;
  margin: 0 0 20px 0;
  display: block;
  animation-duration: 2s;
  animation-name: face;
  background: radial-gradient(rgb(117, 214, 117), yellow, rgb(103, 175, 103));
  transition: background-color .5s;
}

.Characters-item:hover {
  background-color: turquoise;
  shape-outside: circle(50px);
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 35px 21px rgba(7,255,3,0.96);

}

.Characters-item h2:hover {
  font-weight: bolder;
}

.Characters-item img:hover{
  border-radius: 200px;

}


.Characters-item img {
  width: 100%;
  height: auto;

}

.Characters-item h2 {
  font-size: 18px;
  font-weight: 300;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  font-family: fantasy;
}

.Characters-item a {
  text-decoration: none;
  color: #026C86;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}